/*Global style*/

*,
*::before
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}

a{
    	text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: grey;
        text-decoration: none
}

ul{
    list-style: none;
}

p{
    font-size: 1.6rem;
}

img{
    width: 100%;
    max-width: 100%;
    height: auto;
}

section{
    padding: 5rem 0;
}


/*header*/
header{
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.container{
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255,.2);
}
.nav-brand{
    width: 2rem;
}

.menu-icons i{
    font-size: 3.5rem;
    color:#fafafa;
    cursor: pointer;
}

.close i{
    color: #628ca7;
}

.nav-list{
    width: 25rem;
    height: 100vh;
    background-color: #d7d4ed;
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    transition: all 650ms ease-in-out;
}

.nav-list.active{
    right: 0;
}

.close{
    position: absolute;
    top: 1rem;
    left: 1.5rem;    
}

.nav-item{
    margin: 1.5rem 0;
}

.nav-link{
    font-size: 1.6rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0,0.7);
}

/*hero*/
.hero{
    width: 100%;
    height: 80vh;
    background: linear-gradient(135deg, rgba(68,74,105,0.9) 0%, rgba(111,148,171,0.8) 
    100%), url("images/NYCskyline.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}

.hero::before{
    content:"" ;
    position: absolute;
    left: 0;
    bottom:-3px;
    width: 100%;
    height: 4.7rem;
    background: url("images/wave-small.png") center no-repeat;
    background-size: cover;
}

.main-message{
    width: 100%;
    max-width: 50rem;
    color:#fafafa;
    text-transform: uppercase;
    transform: translateY(20%);
}

.main-message h3{
    font-size: 1.6rem;
}

.main-message h1{
    font-family: 'Aldrich', sans-serif;
    font-size: 3rem;
    margin: 1rem 0;
}

.main-message p{
    text-transform: lowercase;
}

.btn{
    background-color: #506b7c;
    border-radius: 2rem;
    color:#fafafa;
    display:inline-block;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    transition: background-color 650ms;
}

.btn:hover{
    background-color:#628ca7;
}

/*Packages*/
.Packages{
    padding: 0;
}

.title-heading{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10rem;
    color: rgba(0,0,0,.7);
}

.title-heading h3{
    font-size: 1.4rem;
}

.title-heading h1 {
    font-family: 'Aldrich', sans-serif;
    font-size: 2rem;
    margin: .5rem 0 1rem;
}

.title-heading p{
    text-transform: lowercase;
}

.packages-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, mixmax (25rem, 1fr));
    grid-gap: 2.5rem;   
}

.packages-grid-item{
    height: 40rem;
    padding: 5rem;
    color: #fafafa;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}

.packages-grid-item::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, rgba(68,74,105,0.9) 0%, rgba(111,148,171,0.8) 
    100%);
    z-index: -1;
}

.suitcase{
    background: url("images/suitcase.jpeg") center no-repeat;
	background-size: 100%;
}

.business{
    background: url("images/business.jpg") center no-repeat;
	background-size: 100%;
}

.shopping{
    background: url("images/shopping.jpg") center no-repeat;
	background-size: 100%;
}

.packages-grid-item i{
    font-size: 4rem;
    color: #7ca5be;
}

.packages-grid-item h1{
    font-family: 'Aldrich', sams-serif;
    font-size: 1.7rem;
    text-transform: uppercase;
    margin: 2rem 0;
}

/*testimonials*/
.testimonials{
    width: 100%;
    height: 80vh;
    background: linear-gradient(135deg, rgba(68,74,105,0.9) 0%, rgba(111,148,171,0.8) 
    100%), url("images/airplane.jpg") center no-repeat fixed;
    background-size: cover;
    position: relative;
}

.testimonials::before{
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 4.7rem;
    background: url("images/wave-small-reversed.png") center no-repeat;
	background-position: bottom;
    background-size: cover;
}

.testimonial{
    width: 100%;
    color: #fafafa;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.testimonial-text-box{
    padding: 0 1.5rem;
    margin-bottom: 2rem;
    position: relative;
}

.testimonial-text-box i{
    position: absolute;
    top: -8rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 8rem;
    color: #7ca5be;
    opacity: .5;
    z-index: -1;
}

.testimonial-customer img{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    border: 3px solid #7ca5be;
}

/*Begin journey*/
.journey-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, mixmax (25rem, 1fr));
    grid-gap: 2.5rem;   
    margin-bottom: 2rem;
}

.journey-grid-item p{
    color: rgba(0,0,0,0.7);
}

.leftbox { 
	float:left;   
	width:30%; 
	height:280px; 
} 

.middlebox{ 
	float:left;  
	width:40%; 
	height:280px; 
} 

.rightbox{ 
	float:right; 
	width:30%; 
	height:280px; 
} 

footer{
    padding: 2.5rem 0;
    background-color: #d7d4ed;
    text-align: center;
    color: rgba(0,0,0,0.7);
}

/*Media queries*/
@media screen and (min-width: 350px){
    .main-message{
        transform: translateY(40%);
    }
}

@media screen and (min-width: 470px){
    .hero::before{
        height: 9.4rem;
        background: url("images/wave-medium.png");
        background-size: cover;
    }
}

.testimonials::before{
    height: 9.4rem;
    background: url("images/wave-medium-reversed.png");
    background-size: cover;
}

@media screen and (mid-width: 700px){
    header{
        height: 130px;
    }

    .nav-brand{
        width: 150px;
    }

    .nav-list{
        width: initial;
        height: initial;
        background-color: transparent;
        position: initial;
        top: initial;
        right: initial;
        flex-direction: row;
        transition: initial;
    }

    .menu-icons{
        display: none;
    }

    .nav-item{
        margin: 0 2.5rem;
    }

    .nav-link,
    .current{
        color: #fafafa;
        position: relative;
        font-size: 1.3rem;
    }

    .nav-link::before,
    .current::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: -.5rem;
        background-color: #7ca5be;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 650ms;
    }

    .current::before{
    transform: scaleX(1);
    }

    .nav-link:hover::before{
    transform: scaleX(1);   
    }

    .hero{
        height: 60vh;
    }

    .main-message{
        transform: translateY(60%);
    }

    .title-heading h1{
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 950px){
    .hero::before{
        height: 19.7rem;
        background: url("images/wave-large.png");
        background-size: cover;
    }

    .testimonials::before{
        height: 19.7rem;
        background: url("images/wave-large-reversed.png");
        background-size: cover;
    }
}

@media screen and (min-width: 1200px){
    .hero{
        height: 75vh;    
    }
}

/*---------------------------------------------------------LOGIN & REGISTER----------------------------------*/
.main {
        background-color: #FFFFFF;
        width: 400px;
        height: 500px;
        margin: 7em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }

.body-color {
        background-color: #F3EBF6;
		background-image: url("images/login-registerBG.jpg");
		background-size: cover;
		background-position: center;
}
    
    .sign {
        padding-top: 40px;
        color:grey;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 23px;
    }
    
    .un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }
    
    form.form1 {
        padding-top: 40px;
    }
    
    .pass {
            width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }
    
   
    .un:focus, .pass:focus {
        border: 2px solid rgba(0, 0, 0, 0.18) !important;
        
    }
    
    .submit {
      cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background-color: #506b7c;
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 35%;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }
    
    .forgot {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color:grey;
        padding-top: 15px;
    }

@media (max-width: 600px) {
        .main {
            border-radius: 0px;
        }
}